<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>{% block title %}TWC Connect{% endblock title %}</title>
    <meta name="description" content="Keep yourself up-to-date with the latest events in Washington D.C.">
    <meta name="author" content="Marc Maceira <https://marcmaceira.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d0f5ab41cb.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Source+Sans+Pro:wght@300;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "events/main.css" %}">
</head>
<body>
    <section class="jumbotron bgd shadow vertical-centre">
        <div class="container text-center">
            <h1 class="text-white">{{ title }}</h1>
            <a href="/" class="btn btn-default btn-lg">Go Home</a>
        </div>
    </section>
    <section>
        {% block events %}{% endblock events %}
    </section>
    <footer class="footer">
        <div class="container text-center">
            <a href="https://twitter.com/marcmaceira/" target="_blank" title="Twitter profile" class="btn btn-default btn-lg">
            <i class="fa fa-twitter"></i>
            </a>
            <a href="https://linkedin.com/in/marc-maceira/" target="_blank" title="LinkedIn profile" class="btn btn-default btn-lg">
            <i class="fa fa-linkedin-square"></i>
            </a>
            <a href="https://github.com/marcmaceira/" target="_blank" title="GitHub profile" class="btn btn-default btn-lg">
            <i class="fa fa-github"></i>
            </a>
            <a href="https://marcmaceira.com/" target="_blank" title="Portfolio website" class="btn btn-default btn-lg">
            <i class="fa fa-browser"></i>
            </a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
</body>
</html>