<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron">
        <center><h1>TWC Connect</h1>
            <a href="/" class="btn btn-primary">Refresh Events</a>
        </form>
    </center>
    </div>
    <div class="container">
        <h2 class="text-center title">Happy Hour</h2>
        <br>
        <div class="row">
            {% for a, b, c, d, e in event %}
                <div class="col-lg-6 col-sm-12">
                    <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img style="height: 100%; width: 100%; object-fit: cover" src="{{d}}" class="card-img">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{a}}</h5>
                                    <ul class="list-unstyled">
                                        <li><strong>Time:</strong> {{b}}</li>
                                        <li><strong>Location:</strong> {{c}}</li>
                                    </ul>
                                    <a class="btn btn-primary" href="{{e}}" role="button">Open Event</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
</body>
</html>