<!DOCTYPE html>
<html>
<head>
    <title>TWC Connect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d0f5ab41cb.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Source+Sans+Pro:wght@300;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/events/main.css">
</head>
<body>
    <section id="home" class="jumbotron vertical-centre bgd shadow" data-speed="5" data-type="background">
        <div class="container">
            <h1>TWC Connect</h1>
            <h3>Keep yourself up-to-date with the latest events in Washington D.C. (I think)</h3>
            <p>
                <a href="https://twitter.com/marcmaceira/" target="_blank" title="Twitter profile" class="btn btn-default btn-lg">
                <i class="fa fa-twitter"></i> @marcmaceira
                </a>
                <a href="https://linkedin.com/in/marc-maceira/" target="_blank" title="LinkedIn profile" class="btn btn-default btn-lg">
                <i class="fa fa-linkedin-square"></i> LinkedIn
                </a>
                <a href="https://github.com/marcmaceira/" target="_blank" title="GitHub profile" class="btn btn-default btn-lg">
                <i class="fa fa-github"></i> GitHub
                </a>
                <a href="https://marcmaceira.com/" target="_blank" title="Portfolio website" class="btn btn-default btn-lg">
                <i class="fa fa-browser"></i> Portfolio
                </a>
            </p>
            <h4>Hmu!</h4>
        </div>

    </section>
    <section>
        <div class="container">
            <h2 class="text-center section__title section__title--intro">Categories</h2>
            <br>
            <div class="row">
                <div class="col-lg-4 col-sm-12 text-center">
                    <a href="arts">
                        <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">
                                <div class="card-body">
                                    <h3 class="card-title"><i class="far fa-pencil-paintbrush"></i> Arts <i class="far fa-user-music"></i></h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-12 text-center">
                    <a href="business">
                        <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">
                                <div class="card-body">
                                    <h3 class="card-title"><i class="far fa-address-card"></i> Business <i class="far fa-chart-network"></i></h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-12 text-center">
                    <a href="food-and-drink">
                        <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">
                                <div class="card-body">
                                    <h3 class="card-title"><i class="far fa-burger-soda"></i> Food & Drink <i class="far fa-french-fries"></i></h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-12 text-center">
                    <a href="government">
                        <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">
                                <div class="card-body">
                                    <h3 class="card-title"><i class="fad fa-democrat"></i> Government <i class="fad fa-republican"></i></h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-12 text-center">
                    <a href="happy-hour">
                        <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">
                                <div class="card-body">
                                    <h3 class="card-title"><i class="fas fa-glass-whiskey-rocks"></i> Happy Hour <i class="far fa-beer"></i></h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-12 text-center">
                    <a href="science-and-tech">
                        <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
                            <div class="row no-gutters">
                                <div class="card-body">
                                    <h3 class="card-title"><i class="far fa-atom"></i> Science & Tech <i class="far fa-brain"></i></h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
</body>
</html>